body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    padding-right: 50px;
}

ul{
    display: flex;
    padding: 20px;
    font-size: 20px;
}

li{
    list-style: none;
    padding: 15px;
    align-items: center;
}

a{
    text-decoration: none;
}



button{
    background-color: #4285F4;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 60vh;
    width: 100%;  
}

.search-text{
    width: 580px;
    padding: 13px ;
    border-radius: 30px;
    padding: 13px 0px 13px 50px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid gray;
    outline: none;
}

.search{
    position: relative;
}

.icons{
    position: absolute;
    top: 0;
    display: flex;
    padding: 13px 0;
    justify-content: space-between;
    width: 100%;
    pointer-events: none;
    outline: none;
    cursor: pointer;
}

.icons .cer{
    padding-left: 20px;
    height: 20px;
    cursor: pointer;
}

.icons .mc{
    padding-right: 20px;
}

